
.formulaire .erreur
{
    background-color: brown;
    color: black;
    width: 500px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 20px;
    
}

.formulaire
{
    margin-left: 20%;
}

.formulaire p
{
    margin-top: 20px;
    margin-left: 10%;
}
.formulaire p a
{
    color: rgb(98, 98, 243);
}

.formulaire label
{
    color: rgb(130, 133, 135);
}

.formulaire .texte
{
    background-color: rgb(34, 32, 32);
    border: solid 1px black;
    height: 30px;
    width: 500px;
    border-radius: 6px;
    border-bottom: solid 2px rgb(246, 151, 36);
}


@media screen and (max-width:767px)
{
    .formulaire .erreur
    {
        background-color: brown;
        color: black;
        width: 400px;
        border-radius: 6px;
        margin-bottom: 20px;
        text-align: center;
        
    }
    .formulaire
    {
        margin-left: 20px;
    }
    .formulaire .texte
    {
        background-color: rgb(34, 32, 32);
        border: solid 1px black;
        height: 30px;
        width: 400px;
        border-radius: 6px;
        border-bottom: solid 2px rgb(246, 151, 36);
    }
}

